# Ignorar la carpeta de dependencias
node_modules/

# Variables de entorno sensibles
.env

# Logs
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local